.app {
  overflow: hidden;
  padding: 40px;
}

.app .reset-btn {
  float: right;
  margin-bottom: 20px;
  cursor: pointer;
}

.app .note-menu {
  position: fixed;
  border: 1px solid black;
  padding: 10px;
  background: white;
}

.app .note-menu select,
.app .note-menu input {
  width: 100%;
}