.app {
  overflow: hidden;
  padding: 40px;
}

.app .reset-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.note-menu {
  padding: 30px 10px 10px 10px;
  width: 200px;
}

.note-menu .chord-root-menu {
  width: 100%;
}

.note-menu .MuiFormHelperText-root {
  text-align: center;
}

.note-menu.chord-root-selected .chord-root-menu,
.note-menu .MuiFormHelperText-root {
  margin-bottom: 12px;
}

.note-menu .chord-root-menu {
  margin-bottom: 0;
}

.note-menu .chord-root-menu .MuiOutlinedInput-input {
  padding: 9.25px 7px;
}

.note-menu .MuiFormControl-root {
  width: 100%;
}

.note-menu .MuiTableContainer-root {
  overflow: hidden;
}

.note-menu .MuiTableContainer-root label {
  padding-bottom: 12px;
}

.note-menu .MuiButtonBase-root {
  width: 100%;
}

.note-menu .MuiButtonBase-root.MuiCheckbox-root {
  width: auto;
  padding: 6px 6px 6px 0px;
}

.MuiButtonBase-root.close-btn {
  min-width: 32px;
  position: absolute;
  top: 0;
  right: 0;
}

.MuiPopover-root .MuiPopover-paper {
  max-width: 50%;
}

.MuiPaper-root.MuiPopover-paper {
  cursor: grab;
}

.MuiPaper-root.MuiPopover-paper:active {
  cursor: grabbing;
}

.suggested-chords .chord {
  margin-bottom: 0;
}

.suggested-chords {
  text-align: center;
}

.suggested-chords .pick-chord {
  margin: 20px 0 0 0;
}

.suggested-chords .tablature {
  padding: 20px;
}